<%- include('../../partials/head.ejs') %>

<div class="container my-3">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class=" card card-body mx-5 my-5">
                        <h5 class="my-3"><strong>Change Your Password</strong></h5>
                        <form action="/auth/changePassword" method="POST">
                            <div class="form-group my-2">
                                <label for="oldPassword">Enter Your Old Password</label>
                                <input type="password" class="form-control <%= error.oldPassword ? 'is-invalid' : '' %>" name="oldPassword" id="oldPassword">
                                <div class="invalid-feedback"><%= error.oldPassword %></div>
                            </div>
                            <div class="form-group my-2">
                                <label for="newPassword">Enter Your New Password</label>
                                <input type="password" class="form-control <%= error.newPassword ? 'is-invalid' : '' %> " name="newPassword" id="newPassword">
                                <div class="invalid-feedback"><%= error.newPassword %></div>
                            </div>
                            <div class="form-group my-2">
                                <label for="confirmPassword">Confirm Your Password</label>
                                <input type="password" class="form-control <%= error.confirmPassword ? 'is-invalid' : '' %> " name="confirmPassword" id="confirmPassword">
                                <div class="invalid-feedback"><%= error.confirmPassword %> </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="Update Password">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../../partials/footer.ejs') %>

</body>

</html>