<%- include('../../partials/head.ejs') %>

<div class="container my-3">
    <div class="row">
        <div class="col-md-2">
            <%- include('../../partials/sidebar.ejs') %>
        </div>
        <div class="col-md-10">
            <div class="row">
                <h5 class="my-2"><strong>Your Recent Posts</strong></h5>
                <div class="row">
                    <% if(posts.length==0) {%>

                    <div class="text-center text-muted">
                        <p>You Have no Post</p>
                    </div>

                    <% } else { %>
                    <% for (let post of posts){ %>
                    <div class="card col-sm-3 m-2">
                        <% if(post.thumbnail){ %>
                        <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                        <% }%>
                        <div class="card-body">
                            <a href="/explore/<%= post._id %>" style="color: #222" ;>
                                <h5>
                                    <%= post.title %>
                                </h5>
                            </a>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                </div>
                <h5 class="my-2"><strong>Your Recent Bookmarks</strong></h5>
                <div class="row">
                    <% if(bookmarks.length==0) {%>

                    <div class="text-center text-muted">
                        <p>You Have no Bookmark Post</p>
                    </div>

                    <% } else { %>
                    <% for (let post of bookmarks){ %>
                    <div class="card col-sm-3 m-2">
                        <% if(post.thumbnail){ %>
                        <img src="<%= post.thumbnail %>" alt="<%= post.title %>" class="card-img-top mt-3">
                        <% }%>
                        <div class="card-body">
                            <a href="/explore/<%= post._id %>" style="color: #222" ;>
                                <h5>
                                    <%= post.title %>
                                </h5>
                            </a>
                        </div>
                    </div>
                    <% } %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../../partials/footer.ejs') %>

</body>

</html>